<main class="main"  [formGroup]="formData">
 <fn-color-picker/>

 <fn-color-picker-icon
  [color]="curColor"
  [disabled]="isDisabled"

  (colorChanged)="onColorChanged($event)"
 />

 @for (obj of colorList; track $index) {
  <fn-color-picker-icon
   [color]="obj.color"
  />
 }
 <!--  formControlName="color1"-->
 <button mat-button class="button-other-color" (click)="changeDisabled()">
  <span>change Disabled</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeColor()">
  <span>set red</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeColorBlue()">
  <span>set blue</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeColorReactive()">
  <span>set green</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeDisabledInput()">
  <span>changeDisabledInput</span>
 </button>


 <button mat-button class="button-other-color" (click)="generate()">
  <span>generate</span>
 </button>

 <button mat-button class="button-other-color" (click)="change2()">
  <span>change2</span>
 </button>
</main>

<!--<ng-template #customIconTemplate>-->
<!-- <mat-icon>search</mat-icon>-->
<!--</ng-template>-->

<!--[customIcon]="customIconTemplate"-->
