<main class="main"  [formGroup]="formData">
 <fn-color-picker-icon
  [color]="curColor"

  formControlName="color1"
  (colorChanged)="onColorChanged($event)"
 />

 <button mat-button class="button-other-color" (click)="changeDisabled()">
  <span>change Disabled</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeColor()">
  <span>set red</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeColorBlue()">
  <span>set blue</span>
 </button>

 <button mat-button class="button-other-color" (click)="changeColorReactive()">
  <span>set green</span>
 </button>
</main>

<!--<ng-template #customIconTemplate>-->
<!-- <mat-icon>search</mat-icon>-->
<!--</ng-template>-->

<!--[customIcon]="customIconTemplate"-->
